#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ARCH_CHIP_RK3576
	bool
	default y
	select ARCH_CORTEX_A53
	select ARCH_HAVE_ADDRENV
	select ARCH_HAVE_RESET
	select ARCH_NEED_ADDRENV_MAPPING
	select ARM64_HAVE_PSCI
	select ARCH_HAVE_IRQPRIO

if ARCH_CHIP_RK3576

menu "Rockchip RK3576 Peripheral Selection"

config RK3576_UART
	bool "UART 0"
	default y
	select UART0_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS
	---help---
		Select to enable support for UART0.

config RK3576_UART1
	bool "UART 1"
	default n
	select UART1_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS
	---help---
		Select to enable support for UART1.

config RK3576_UART2_OFF
	bool "UART 2"
	default y
	select UART2_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS
	---help---
		Select to enable support for UART2.

config RK3576_UART3
	bool "UART 3"
	default n
	select UART3_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS
	---help---
		Select to enable support for UART3.

config RK3576_UART4
	bool "UART 4"
	default n
	select UART4_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS
	---help---
		Select to enable support for UART4.

config RK3576_GPIO
	bool "GPIO"
	default n
	select ARCH_HAVE_GPIO_IRQ
	---help---
		Select to enable support for the RK3576 GPIO controller.
		The RK3576 has 5 GPIO banks (GPIO0-GPIO4) with 32 pins each.

endmenu # Rockchip RK3576 Peripheral Selection

endif # ARCH_CHIP_RK3576
